LDAP_ORGANISATION=Demo
LDAP_DOMAIN=demo.local
LDAP_ADMIN_PASSWORD=change_me

POSTGRES_DB=guacamole_db
POSTGRES_USER=guacamole
POSTGRES_PASSWORD=change_me

SSH_NPA_USER=sshuser
SSH_NPA_PASSWORD=change_me

RDP_NPA_USER=desktopuser
RDP_NPA_PASSWORD=change_me